/* ------------------------------------------------------------- */
/* -------------------------DEFAULT SETUP----------------------- */
/* ------------------------------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #f5f6fa;
    background-color: #171820;
    text-rendering: optimizeLegibility;
    max-width: 100%;
}

body{
    overflow-x: hidden;
}


.col{
    display: inline-block;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    font-size: 300%;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #f5f6fa;
    line-height: 135%;
    margin-bottom: 50px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f38406;
    font-size: 180%;
    font-weight: 700px;
    text-align: center;
}

h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: #f38406;
    margin: 0 auto;
    margin-top: 5px;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    color: #f5f6fa;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.p-long{
    text-align: center;
    color: #f5f6fa;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
    margin-bottom: 15px;
}

section{
    padding: 50px;
}
/* ------------------------------------------------------------- */
/* ---------------------------Header---------------------------- */
/* ------------------------------------------------------------- */

header{
    background-image: linear-gradient(135deg, rgba(6,6,7, 0.7), rgba(17,31,40,0.8), rgba(72,78,82,0.85)), url(../img/A.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;/* view height */
    background-attachment: fixed;
}

.logo{
    width: 204.4px;
    float: left;
    margin-left: 50px;
}

.heading-main-box{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 1080px;
}
.content-main-box{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
    
}
/* ------------------------Sticky------------------------------- */
.sticky{
    background-color:rgba(15,17,20, 0.9);
    position: fixed;
    width: 100%;
    height: 85px;
}
/* -----------------------mobile-navigation-icon------------ */
.mobile-nav-icon{
    color: rgba(245,246,250, 0.9);
    font-size: 200%;
    position: absolute;
    top: 20px;
    right: 50px;
}


/* ------------------------------------------------------------- */
/* ---------------------------ABOUT SECTION---------------------------- */
/* ------------------------------------------------------------- */
.about-section{
    background-color: #bcb6ae;
    background-image: linear-gradient(135deg, rgba(6,6,7, 0.7), rgba(17,31,40,0.8), rgba(72,78,82,0.85)), url('../img/library.jpg') ;
    background-size: cover;
    background-attachment: fixed;
    height: 430px;
}
.about-picture{
    margin-top: 50px;
    position: relative;
}
.about-row{
    width: 1140px;
    margin: 0 auto;
}

.about-picture img{
    width: 90%;
    border-radius: 20px;
    border: 4px solid #475568;
    box-shadow: 4px 4px 20px 1px #484e52;
    transition: all .7s;
    /* filter: brightness(60%) blur(2px); */
}

.picture-title{
    position: absolute;
    top: 50%;
    left: 42%;
    color:  #f5f6fa;
    transform: translate(-40%, 100%);
    opacity: 0; /*Độ mờ*/
    transition: all .5s;
}

.about-picture:hover img,
.about-picture:active img{
    filter: brightness(60%) blur(2px);
}

.about-picture:hover .picture-title,
.about-picture:active .picture-title{
    transform: translate(-40%, -50%);
    opacity: 1;
}
