/* ------------------------------------------------------------- */
/* -------------------------DEFAULT SETUP----------------------- */
/* ------------------------------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #f5f6fa;
    background-color: #171820;
    text-rendering: optimizeLegibility;
    max-width: 100%;
}

body{
    overflow-x: hidden;
}


.col{
    display: inline-block;
}
.col1{
    display: inline-block;
    width: 20%;
}
.col2{
    display: inline-block;
    width: 35%;
}
.col3{
    display: inline-block;
    width: 35%;
}
.col4{
    display: inline-block;
    width: 15%;
}
.row{
    max-width: 1080px;
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    font-size: 200%;
    margin-left: -30px;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #f5f6fa;
    line-height: 135%;
    margin-bottom: 50px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f38406;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    color: #f5f6fa;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/* ------------------------------------------------------------- */
/* ---------------------------Header---------------------------- */
/* ------------------------------------------------------------- */

header{
    background-image: linear-gradient(135deg, rgba(6,6,7, 0.7), rgba(17,31,40,0.8), rgba(72,78,82,0.85)), url(../img/A.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;/* view height */
    background-attachment: fixed;
}

.logo{
    width: 204.4px;
    float: left;
    margin-left: 50px;
}

.heading-main-box{
    position: absolute;
    top: 15%;
    left: 30%;
    width: 1080px;
}
.content-main-box{
    position: absolute;
    top: 40%;
    width: 100%;
}
