/* ------------------------------------------------------------- */
/* -------------------------DEFAULT SETUP----------------------- */
/* ------------------------------------------------------------- */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    color: #f5f6fa;
    background-color: #171820;
    text-rendering: optimizeLegibility;
    max-width: 100%;
}

body{
    overflow-x: hidden;
}


.col{
    display: inline-block;
}

.row{
    max-width: 1080px;
    margin: 0 auto;
}

h1{
    text-transform: uppercase;
    font-size: 300%;
    letter-spacing: 1px;
    word-spacing: 5px;
    color: #f5f6fa;
    line-height: 135%;
    margin-bottom: 50px;
}

h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f38406;
    font-size: 180%;
    font-weight: 700px;
    text-align: center;
}

h2::after{
    content: " ";
    display: block;
    width: 150px;
    height: 2px;
    background-color: #f38406;
    margin: 0 auto;
    margin-top: 5px;
}

h3{
    padding-top: 30px;
    padding-bottom: 10px;
    color: #f5f6fa;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

.p-long{
    text-align: center;
    color: #f5f6fa;
    font-size: 22px;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 70%;
    margin-left: 15%;
    line-height: 140%;
    margin-bottom: 15px;
}

section{
    padding: 50px;
}
/* ------------------------------------------------------------- */
/* ---------------------------Header---------------------------- */
/* ------------------------------------------------------------- */

header{
    background-image: linear-gradient(135deg, rgba(6,6,7, 0.7), rgba(17,31,40,0.8), rgba(72,78,82,0.85)), url(../img/A.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;/* view height */
    background-attachment: fixed;
}

.logo{
    width: 204.4px;
    float: left;
    margin-left: 50px;
}

.heading-main-box{
    position: absolute;
    top: 15%;
    left: 25%;
    width: 1080px;
}
.content-main-box{
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
}
